html {
  font-size: 16px;
}
body {
  font-family: "Cantora One", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: 2rem;
}
h2.entry-title {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
  font-size: 112.5%;
}
#banner {
  text-align: center;
}
#banner a {
  color: black;
}
#banner h1 {
  font-size: 2.75rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
#banner h5 {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
#banner img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
nav#menu {
  font-size: 1.375rem;
  border-top: 1px solid lightgrey;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  background: white;
}
.nav > li {
  display: inline-block;
}
.nav a {
  color: black;
  padding: 0.5rem 2rem 0.4rem 2rem;
}
.links > li > a:hover, .nav > li > a:hover, .social-list > li > a:hover {
  color: #C69F70;
  text-decoration: none;
  background-color: #eee;
}
ol#post-list {
  list-style: none;
  padding: 0;
}
div.summary {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  margin-top: 1.5rem;
}
@media screen and (max-width: 768px) and (orientation: landscape) {
  div.summary {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
li {
  text-align: justify;
}
p {
  text-align: justify;
}
p a {
  color: #C69F70;
}
a {
  color: #C69F70;
  text-decoration: none;
}
a:hover {
  color: #777;
  text-decoration: underline;
}
.post-info > address.author {
  display: inline-block;
}
footer#contentinfo.body {
  border-top: 1px solid #777;
  font-size: 1rem;
  padding-top: 0.5rem;
  text-align: center;
  color: white;
  margin-top: 20px;
}
footer#contentinfo.body a:hover {
  color: white;
}
footer > address.body {
  border-radius: 3px;
  background: #777;
  padding: 0.5rem;
  margin: 10px 20px 20px;
}
table, td {
  border: 1px none black;
}
table.list {
  margin: 0 auto;
}
table.list td, table.list th {
  padding-left: 24px;
  padding-right: 24px;
}
table.list .centered {
  text-align: center;
}
table.list tr:nth-child(even) {
  background-color: #eee;
}
.feature-image {
  margin: 0 -1px;
}
.feature-image > p > img {
  margin: auto;
  display: block;
  border-radius: 15px;
  max-width: 100%;
}
.entry-content {
  font-size: 1.125rem;
}
article.hentry {
  margin-bottom: 24px;
  padding-bottom: 24px;
}
article.hentry > header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 15px;
  max-width: 100%;
}
.entry-content img {
  margin: 24px auto;
  display: block;
  border-radius: 15px;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.entry-content code {
  color: #1a1a3f;
  background-color: #f5f5f5;
}
img.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
video.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.entry-title a {
  color: black;
  text-decoration: none;
}
.entry-title a:hover {
  text-decoration: underline;
}
div.paginator {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-align: -webkit-center;
}
.pagination > li > a {
  color: #C69F70;
}
.pagination > li > a:hover {
  color: #777;
}
.pagination > .active > a {
  background-color: #777;
  border-color: #777;
}
.pagination > .active > a:hover {
  background-color: #C69F70;
  border-color: #C69F70;
}
aside.sidebar {
  margin-bottom: 45px;
}
.sidebar {
  text-transform: lowercase;
}
.sidebar h3 {
  text-align: center;
  text-transform: lowercase;
  display: block;
  color: white;
  background: #777;
  margin: auto;
  margin-bottom: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.75rem;
}
.sidebar ul.nav {
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
}
.sidebar ul.links {
  font-size: 1.25rem;
  padding: 0px;
  list-style: none;
}
.sidebar ul.social-list {
  padding: 0;
  text-align: center;
}
.sidebar ul.social-list > li {
  display: inline-block;
  margin: 0.8rem 0.6rem;
  border-radius: 5px;
  font-size: 2.5rem;
  width: 52px;
  height: 52px;
  color: black;
}
.sidebar i.fa.fas-rss {
  font-size: -webkit-xxx-large;
  font-size: 2.5rem;
}
.sidebar a {
  border-radius: 5px;
}
.sidebar .links a {
  display: block;
  color: #000000;
  padding: 0.5rem 2rem 0.4rem 2rem;
  text-align: center;
}
.social-list > li > a {
  color: #777;
  padding: 0.5rem 0.5rem 0.4rem;
}
.social-list > li > a:visited {
  color: #777;
}
.social-list > li > a:hover {
  color: #C69F70;
}
.sidebar > ul.nav > li.active {
  border-radius: 5px;
  border: 1px solid #777;
}
.twitter-share-button {
  float: right;
}
