{% if article %}
        <article class="hentry">
          <header><h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                  <footer class="post-info">
                  Posted:
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                    <address class="vcard author">by
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address> in
                    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article>
{% endif %}
