{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
  <h2>Posts</h2>
{% endblock %}

{% for article in articles_page.object_list %}
      <div class="row"> <!-- .row summary -->
  {% if articles.index(article) == 0 %}
        <div class="col-md-12">
        <article class="hentry">
          <header>
         {{ article.featured_image }}
              <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                  <footer class="post-info">
                  Posted:
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                    <address class="vcard author">by
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address> in
                    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article>
      </div>
    {% else %}
      {% if article.featured_image %}
      <div class="feature-image col-md-4">
         {{ article.featured_image }}
      </div> <!-- .col-md-4 -->
      <div class="entry-content col-md-8">
        {% else %}
      <div class="entry-content col-md-12">
        {% endif %}
    {% include 'article_summary.html' %}
      </div> <!-- .entry-content .col-md-8 -->
  {% endif %}
    </div>
    <!-- .row summary -->
{% endfor %}
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
